//colors
$white: #fff;

$black: #333;
$black-1: #818080;

$yellow: #fed700;

$h_yellow: #eec400;
$h_black: #000000;
$silver: #b3b3b3;
$blue: #1bb2f9;

$gray-1: #dadada;
$gray-2: #f7f7f7;

$red: #ff0000;
$green: #28cc39;



//breakpoints
$sm: 480px;
$md: 768px;
$def: 1024px;
$lg: 1280px;
$mg: 1440px;
